/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache
/bootstrap/cache
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.code-workspace
*.vscode
/reports
public/fonts
public/images
public/san-diego
public/js
public/css
public/maps
public/pdf
public/mix-manifest.json
bootstrap/cache
storage/framework/cache
storage/logs
dist
