@keyframes map_pulse {
    from {
        width: 30px;
        height: 30px;
        transform: translate3d(-15px, -15px, 0);
    }

    50% {
        width: 42px;
        height: 42px;
        transform: translate3d(-21px, -21px, 0);
    }

    to {
        width: 30px;
        height: 30px;
        transform: translate3d(-15px, -15px, 0);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(3600deg);
    }
}
