@font-face {
    font-family: 'statefaceregular';
    src: url('../fonts/StateFace-Regular-webfont.eot');
    src: url('../fonts/StateFace-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/StateFace-Regular-webfont.woff') format('woff'),
        url('../fonts/StateFace-Regular-webfont.ttf') format('truetype'),
        url('../fonts/StateFace-Regular-webfont.svg#statefaceregular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* CSS RESET */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,
dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,
kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,
sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

body {
    line-height: 1
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html {
    box-sizing: border-box;
}

*,*:before,*:after {
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
}

/* COMMON ELEMENTS */
body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: $primary-gray;
}

p {
    line-height: 1.57;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

/* THEME ELEMENTS */
.advocacy-tip {
    font-size: 14px;
    padding: 20px;
    margin-top: 20px;
    background: #FFFFFF;
    border-radius: 10px;
}

.buttons {
    text-align: left;
    margin-top: 18px;
    display: block;
    height: 30px;
    margin-bottom: 10px;

    .btn {
        margin: 4px;
        background: #FFF;
        border: 2px solid $color-dk-gray;
        padding: 4px 12px;
        cursor: pointer;
        text-decoration: none;
        color: $color-dk-gray;
        border-radius: 6px;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;

        &.active {
            background: $color-dk-gray;
            color: white;
        }

        &:first-child {
            margin-left: 0;
        }
    }
}

.current-state {
    text-align: center;
    color: $primary-blue;
    font-weight: 500;
    height: 100px;
    line-height: 100px;
    font-size: $font-header-large;
    text-transform: uppercase;
    font-style: italic;
    font-family: 'Barlow Condensed', sans-serif;

    svg {
        position: relative;
        top: 5px;
    }
}

.iframe {
    max-width: 100% !important;
}

.grades {
    td {
        position: relative;
        white-space: nowrap;

        a.score {
            display: inline-block;
            vertical-align: middle;
        }

        .tooltip {
            position: unset;
            top: unset;
            left: unset;
            display: inline-block;
        }
    }
}

.partial-data {
    font-size: 13px;
    line-height: 1.62;
}

.section.footer .state-list-footer {
    padding: 0 !important;

    .one-fifth {
        width: 19%;
        display: inline-block;
        vertical-align: top;
        margin-top: 16px;
        margin-bottom: 0;

        a.state-link {
            color: #FFF;
            text-decoration: none;
            font-weight: 300;
            font-family: 'Barlow Condensed', sans-serif;
            display: block;
            line-height: 22px;
            font-size: 16px;
            text-align: left;
            letter-spacing: normal;
            text-transform: none;

            &.active {
                font-weight: 500;
                text-decoration: underline;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.selected-location {
    .selected-location-label {
        color: white;
        display: inline-block;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1.5px;
        line-height: 20px;
        opacity: 0.5;
        position: absolute;
        text-decoration: none;
        text-transform: uppercase;
        bottom: 24px;
    }

    a {
        font-family: 'Barlow Condensed', sans-serif;
        color: $primary-blue;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 60px;
        text-decoration: none;
        position: relative;
        padding-bottom: 30px;
        top: -12px;
        display: inline-block;

        &::after {
            content: '\0025E2';
            font-size: $font-large;
            color: $primary-orange;
            position: absolute;
            right: -40px;
            top: 12px;
            transform: rotate(45deg);
            animation: bounce_select 1s 3 ease-in-out;
            animation-delay: 3s;
        }
    }

    &.long {
        .selected-location-label {
            bottom: 16px;
        }

        a {
            top: -8px;
            font-size: 48px;
        }
    }

    &.really-long {
        max-width: 320px;

        .selected-location-label {
            bottom: 16px;
        }

        a {
            top: -8px;
            font-size: 28px;
        }
    }
}

.source-link-wrapper {
    text-align: right;
    font-style: italic;
    font-size: 13px !important;
    color: $color-md-grayblue;
    font-weight: 600;
    margin-top: 10px !important;

    a {
        color: $color-md-grayblue;
        font-weight: 600;
        margin-left: 2px;

        &:hover,
        &:focus {
            color: black;
            text-decoration: underline;
        }
    }
}

.spending {
    p.note {
        margin-top: 8px;
        text-align: center;
    }

    .keys {
        margin-top: 14px;
    }

    p strong {
        font-weight: 600;
        font-size: 12px;
    }
}

.state-symbol {
    font-family: 'statefaceregular', Arial, sans-serif;
    color: #F2F4F6;
    background: #626262;
    width: 42px;
    height: 42px;
    display: inline-block;
    line-height: 44px;
    border-radius: 50%;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-right: 5px;
    text-transform: none;
    font-size: 24px;
    font-style: normal;
}

.stats-change {
    position: absolute;
    right: 0;
}

.text-center {
    text-align: center;
}

.text-white {
    color: #FFF;

    iframe {
        background: #FFF;
        padding: 8px 16px;
        display: block;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    }

    .subtitle {
        color: #FFF;
        padding: 3rem 0 2rem 0;
        display: block;
    }
}

.tile-chart {
    width: 320px;
    height: 80px;
    margin: 0 auto;
    margin-top: 20px;

    .tile {
        display: inline-block;
        width: 16px;
        height: 16px;
        background-color: #eeeeee;
        float: left;
        box-shadow: inset 0 0 0 1px #FFF;

        &.color-1 {
            background-color: $grade-red;
        }

        &.color-2 {
            background-color: #58595b;
        }

        &.color-3 {
            background-color: #9a9b9f;
        }

        &.color-4 {
            background-color: #d4d9e4;
        }
    }
}

.title {
    font-family: 'Barlow Condensed', sans-serif;

    &.white {
        color: white;
        display: inline-block;
        font-size: 14px;
        line-height: 14px;
        margin: 0;
        background: $primary-green;
        clear: both;
        padding: 8px;
        font-weight: 600;
        position: relative;
        top: 10px;

        &.bad {
            background-color: #f67f85;
            color: #FFF !important;
        }
    }
}

.tooltip {
    cursor: default;
    z-index: 1000;
    font-size: 16px;
    font-family: monospace;
    height: 18px;
    line-height: 16px;
    display: inline-block;
    top: 2px;
    z-index: 50;
    width: 22px;

    .grade-arrow {
        position: relative;
        display: block;
        width: 100%;
        height: 24px;

        span {
            position: absolute;
            left: 0;
            font-size: 14px;
            font-family: -apple-system, monospace;
            display: block;
            line-height: 8px;
            width: 100%;
            top: 1px;
            text-align: center;
            height: 7px;
            color: black;
        }

        small {
            position: absolute;
            left: 0;
            font-size: $font-medium;
            font-family: 'Lato', sans-serif;
            text-align: center;
            width: 100%;
            display: block;
            bottom: 0;
            color: black;
        }
    }

    &.bad {
        color: $grade-red !important;

        &.reverse {
            color: $grade-light-green !important;
        }

        .grade-arrow {
            span {
                bottom: 0;
                transform: rotate(-90deg);
            }
        }
    }

    &.good {
        color: $grade-light-green !important;

        &.reverse {
            color: $grade-red !important;
        }

        .grade-arrow {
            span {
                transform: rotate(90deg);
            }
        }
    }

    &::before {
        content: attr(data-tooltip);
        display: none;
        position: absolute;
        top: -7px;
        left: -150px;
        background: black;
        color: white;
        white-space: nowrap;
        padding: 8px 12px;
        border-radius: 4px;
        font-size: $font-default;
        line-height: 12px;
        font-family: 'Lato', sans-serif;
        width: 140px;
        text-align: center;
    }

    &:focus,
    &:hover {
        color: black !important;
    }

    &:focus::before,
    &:hover::before {
        display: block;
    }
}

.wrapper {
    width: 100%;
}

div.number-list {
    padding-left: 80px;
    position: relative;
}

p.number-list {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        background: #a7cc84;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        left: -60px;
        display: block;
        top: 0;
        line-height: 40px;
        text-align: center;
        font-weight: 600;
        font-family: 'Barlow Condensed', sans-serif;
        color: #FFF;
    }

    &.n1::after {
        content: '1';
    }

    &.n2::after {
        content: '2';
    }

    &.n3::after {
        content: '3';
    }

    &.n4::after {
        content: '4';
    }

    &.n5::after {
        content: '5';
    }

    &.n6::after {
        content: '6';
    }

    &.n7::after {
        content: '7';
    }

    &.n8::after {
        content: '8';
    }

    &.n9::after {
        content: '9';
    }

    &.n10::after {
        content: '10';
    }

    &.n11::after {
        content: '11';
    }

    &.n12::after {
        content: '12';
    }

    &.n13::after {
        content: '13';
    }

    &.n14::after {
        content: '14';
    }

    &.n15::after {
        content: '15';
    }
}

#chart-police-funding {
    margin-top: 20px;
}

#state-selection {
    text-align: center;
    color: $color-md-grayblue;
    font-weight: 500;
    height: 100px;
    line-height: 100px;
    font-size: 24px;
    text-transform: uppercase;
    font-style: normal;
    font-family: 'Barlow Condensed', sans-serif;
    text-decoration: none;
    position: relative;

    &::after {
        content: '\0025E2';
        font-size: 14px;
        color: #626262;
        position: absolute;
        right: -60px;
        top: -27px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        display: block;
        width: 20px;
        height: 20px;
        font-style: normal;
    }
}

#sticky-top-bar {
    position: sticky;
    top: 0;
    left: 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
    background-color: $primary-green;
    font-size: 16px;
    padding: 6px;
    width: 100%;
    text-decoration: none;
    display: block;
    z-index: 500;
}

#campaign-zero-widget {
    background-color: #FFF !important;

    button.submit {
        background-color: #5a6f83;
        color: white;
    }
}
